*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans{
        font-family:"Open Sans",sans-serif;
        font-optical-sizing: auto;
}
/* main style */
.logo h2 {
    font-size: 45px;
}

header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png) ,url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    padding-top:50PX ;
}
.navber{
    width: 71%;
    max-width: 1140PX;
    margin: 0PX auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navber .manu {
    display: flex;
    list-style-type:  none;
    gap:50px ;
    align-items: center;
}
.manu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
color: white;
background-color:#FD6E0A ;
border: none;
border-radius: 5px;
padding: 18px 35px;
font-size: 20px;
cursor: pointer; 
}
.section-heading{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{

    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#banner{
    /* border: 1px solid black; */
    margin: 50px 40px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .baner-content{
    max-width: 550px;
}
#banner .baner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600px;
    margin-bottom: 5px;

}
#banner .baner-content h1{
     font-size: 85px;
     font-weight: bold;
     color: #181818;
     margin-bottom: 20px;
}
#banner .baner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom:30px;
    line-height: 30px;
    

}
.banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
   

}
.about-container{
       background-color: #FFF8F3;
       border-radius: 10px;
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 85px;
    text-align: center;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
            font-size: 20px;
            mrgin-bottom: 30px;
           line-height: 30px;
            color: #757575;

}
#skills,#resume{
    padding-top: 130px;
}
.skills-container{
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
}
.card-box{
    display: flex;
    gap: 25px;
}
.card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #e4e1e1;
    border-radius: 5px;
}
.card img {
    max-width: 44px;
    margin-bottom: 30px;
}
.card h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #181818;

}
.card p{
    font-size: 16px;
    color: #757575;
    line-height: 30px;

}
.resume-container{
    width: 70%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 50px;

}
.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size:20px ;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.card-text{
    font-size:16px ;
    line-height: 28px;
    color: #757575;
}
